{% extends 'base.html.twig' %}

{% block title %}CacheManagerController!{% endblock %}
{% block h1 %}CacheManagerController!{% endblock %}

{% block body %}
    <table class="table">
    {% for item in items %}
        <tr>
            <td>{{ item.detail }}</td>
            <td>
                {% if item.cache_key is defined %}
                    <a href="{{ path('app_cache_manager_clear', {key: item.cache_key}) }}" class="btn btn-primary">Clear</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
