{% set activeRoute = app.request.attributes.get('_route') %}
<ul class="nav nav-pills">
    {% for item in items %}
        <li class="nav-item">
        {% if item.disable is defined and item.disable == true %}
            <a class="nav-link disabled">{{ item.title }}</a>
        {% elseif item.route == activeRoute %}
            <a class="nav-link active">{{ item.title }}</a>
        {% else %}
            <a class="nav-link" href="{{ path(item.route, item.params is defined ? item.params) }}">{{ item.title }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
