{% extends 'base.html.twig' %}

{% block title %}{% trans %} New Group {% endtrans %}{% endblock %}
{% block h1 %}{% trans %} New Group {% endtrans %}{% endblock %}

{% block body %}

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('app_group_index') }}">{% trans %} back to list {% endtrans %}</a>
{% endblock %}
