{% extends 'base.html.twig' %}

{% block title %}New Seo{% endblock %}

{% block body %}
    <h1>Create new Seo</h1>

    {{ include('seo/_form.html.twig') }}

    <a href="{{ path('app_seo_index') }}">back to list</a>
{% endblock %}
